@import url('https://fonts.googleapis.com/css?family=Karla');

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
}

/* Layout */

section {
  padding: 16px 32px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  section {
    max-width: 540px;
  }

  .two-columns,
  .three-columns {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  section {
    max-width: 720px;
  }

  .two-columns {
    grid-template-columns: 1fr 1fr;
  }

  .three-columns {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  section {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  section {
    max-width: 1140px;
  }
}

.two-columns,
.three-columns {
  display: grid;
  grid-column-gap: 32px;
}
