body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
}

/* Layout */

section {
  padding: 16px 32px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  section {
    max-width: 540px;
  }

  .two-columns,
  .three-columns {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  section {
    max-width: 720px;
  }

  .two-columns {
    grid-template-columns: 1fr 1fr;
  }

  .three-columns {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  section {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  section {
    max-width: 1140px;
  }
}

.two-columns,
.three-columns {
  display: grid;
  grid-column-gap: 32px;
}

/* Header */

header {
  position: relative;
  padding: 64px 0;
  color: #ffffff;
  background-color: #2727e6;
}

header:before, header:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 8px;
}

header:before {
  bottom: 4px;
  background: radial-gradient(closest-side, #fff, #fff 50%, transparent 50%);
  background-size: 8px 8px;
  background-position: 0 4px;
  background-repeat: repeat-x;
}

header:after {
  bottom: -4px;
  background: radial-gradient(closest-side, transparent, transparent 50%, #fff 50%);
  background-position: 4px -4px;
  background-size: 8px 8px;
  background-repeat: repeat-x;
}

header section .apply-button {
  margin: 16px 0 0 0;
  box-shadow: none;
}

@media (min-width: 768px) {

  header section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  header section .apply-button {
    margin: 0;
  }

}

header section h1 {
  font-size: 2rem;
  font-weight: normal;
}

header section ul {
  padding: 0 0 0 20px;
  margin: 0;
}

/* lists */

ul li {
  display: flex;
  align-items: center;
}

ul.xl {
  list-style: none;
}

ul.xl li {
  position: relative;
  margin-bottom: 16px;
}

ul.xl li::before {
  position: absolute;
  width: 12px;
  left: -20px;
  top: 4px;
  height: 12px;
  border-radius: 50%;
  content: '';
  background-color: #fdda2b;
}

ul.plain {
  list-style: none;
}

ul.no-padding {
  padding: 0;
}

/* typography */

h3 {

}

h4 {
  margin: 0 0 16px 0;
}

a {
  color: #000;
}

.grey {
  color: rgba(0, 0, 0, 0.67);
}

.stars {
  margin: 0 0 0 8px;
  color: #fdda2b;
}

i.material-icons {
  margin: 0 0 0 4px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.67);
}

/* boxes */

.box-container {
  display: grid;
  grid-gap: 16px;
  grid-template-rows: 1fr 1fr 1fr;
}

.box-container .box {
  min-width: 128px;
  border-radius: 6px;
  border: 2px solid #2727e6;
  padding: 16px;
}

.box-container .box p {
  text-align: center;
  margin: 0 0 12px 0;
}

.box-container .box strong {
  color: #2727e6;
}

.box-container i {
  display: none;
  align-self: center;
  font-style: normal;
  font-size: 2rem;
  color: #2727e6;
}

@media (min-width: 768px) {

  .box-container {
    display: grid;
    grid-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto 1fr auto 1fr;
  }

  .box-container .box:first-child {
    justify-self: left;
  }

  .box-container .box:not(:first-child):not(:last-child) {
    justify-self: center;
  }

  .box-container .box:last-child {
    justify-self: right;
  }

  .box-container i {
    display: block;
  }

}

/* sections */

.requirements {
  position: relative;
  background: url(/images/2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-color: #a2bee1;
}

@media (max-width: 576px) {
  .requirements {
    background-image: none;
  }
}

.how-we-work {
  padding: 88px 0;
  background: url(/images/1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #2d61ab;
}

.how-we-work h1 {
  font-size: 2.2rem;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.apply {
  margin-top: 32px;
  margin-bottom: 64px;
  text-align: center;
}

.apply-button {
  display: inline-block;
  margin: 8px;
  border-radius: 6px;
  padding: 16px 12px;
  text-decoration: none;
  font-size: 22px;
  background-color: rgb(224, 140, 140);
  box-shadow: 8px 8px 32px 0 rgba(224, 140, 140, 0.5);
}
