/* Header */

header, footer {
  position: relative;
  padding: 64px 0;
  color: #ffffff;
  background-color: #2727e6;
}

header:before, header:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 8px;
}

header:before {
  bottom: 4px;
  background: radial-gradient(closest-side, #fff, #fff 50%, transparent 50%);
  background-size: 8px 8px;
  background-position: 0 4px;
  background-repeat: repeat-x;
}

header:after {
  bottom: -4px;
  background: radial-gradient(closest-side, transparent, transparent 50%, #fff 50%);
  background-position: 4px -4px;
  background-size: 8px 8px;
  background-repeat: repeat-x;
}

header section .apply-button {
  margin: 16px 0 0 0;
  background: #fff;
  color: #2727e6;
  box-shadow: none;
}

@media (min-width: 768px) {

  header section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  header section .apply-button {
    margin: 0;
  }

}

header section h1 {
  font-size: 2rem;
  font-weight: normal;
}

header section ul {
  padding: 0 0 0 20px;
  margin: 0;
}

/* lists */

ul.xl {
  list-style: none;
}

ul.xl li {
  position: relative;
  margin-bottom: 16px;
}

ul.xl li::before {
  position: absolute;
  width: 12px;
  left: -20px;
  top: 4px;
  height: 12px;
  border-radius: 50%;
  content: '';
  background-color: #fdda2b;
}

ul.plain {
  list-style: none;
}

ul.no-padding {
  padding: 0;
}

/* typography */

h4 {
  margin: 0 0 16px 0;
}

.grey {
  color: rgba(0, 0, 0, 0.67);
}

.stars {
  margin: 0 0 0 8px;
  color: #FFEB3B;
}

i.material-icons {
  vertical-align: middle;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.67);
  user-select: none;
}

i.material-icons.highlight {
  color: #2727e6;
}

/* cells */

.cell-container {
  display: grid;
  grid-row-gap: 16px;
  grid-template-rows: 1fr 1fr 1fr;
}

.cell-container .cell {
  display: flex;
  flex-direction: row;
}

.cell-container .cell .cell-inner {
  flex: auto;
  border-radius: 6px;
  padding: 16px;
  background: rgba(39, 39, 230, 0.1);
}

.cell-container .cell .cell-inner p {
  text-align: center;
  margin: 0 0 12px 0;
}

.cell-container .cell .cell-inner strong {
  color: #2727e6;
}

.cell-container .cell .cell-inner i.material-icons {
  margin: 0 4px 0 0;
  vertical-align: bottom;
  font-size: 22px;
}

.cell-container .cell .cell-separator {
  display: none;
  flex: 1;
  align-self: center;
  text-align: center;
  margin: 0 8px;
  font-style: normal;
  font-size: 2rem;
  color: #2727e6;
}

@media (min-width: 768px) {

  .cell-container {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cell-container .cell .cell-separator {
    display: block;
  }

}

/* sections */

.requirements {
  position: relative;
  background: url(/images/2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-color: #a2bee1;
}

@media (max-width: 576px) {
  .requirements {
    background-image: none;
  }
}

.how-we-work {
  padding: 88px 0;
  background: url(/images/1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #2d61ab;
}

.how-we-work h1 {
  font-size: 2.2rem;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.stack li img {
  margin: 0 0 0 8px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  filter: grayscale(100%);
}

.stack li:hover img,
.stack li img:hover {
  filter: grayscale(0%);
}

.apply {
  margin-top: 32px;
  margin-bottom: 64px;
  text-align: center;
}

.apply-button {
  display: inline-block;
  margin: 8px;
  border-radius: 6px;
  padding: 16px 12px;
  text-decoration: none;
  font-size: 22px;
  background-color: rgb(224, 140, 140);
  box-shadow: 8px 8px 32px 0 rgba(224, 140, 140, 0.5);
}

/* Footer */

footer:before, footer:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 8px;
}

footer:before {
  top: 4px;
  background: radial-gradient(closest-side, #fff, #fff 50%, transparent 50%);
  background-size: 8px 8px;
  background-position: 0 -4px;
  background-repeat: repeat-x;
}

footer:after {
  top: -4px;
  background: radial-gradient(closest-side, transparent, transparent 50%, #fff 50%);
  background-position: -4px 4px;
  background-size: 8px 8px;
  background-repeat: repeat-x;
}

footer a {
  color: #fdda2b;
}
