body {
  background: #ffd100;
}

h4 {
  font-weight: normal;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin: 32px auto 64px auto;
}

.logo-container img {
  height: 84px;
}

.job-opening {
  margin: 8px 0;
  border-radius: 6px;
  padding: 16px 12px;
  text-decoration: none;
  align-items: center;
  background: #fff;
  color: #2727e6;
  box-shadow: 8px 8px 32px 0 rgba(39, 39, 230, 0.05);
}

.job-opening h4 {
  margin: 0;
  text-align: center;
}

.job-opening small {
  display: none;
  justify-self: end;
}

@media (min-width: 768px) {
  .job-opening h4 {
    text-align: left;
  }

  .job-opening small {
    display: inline-block;
  }
}
